body{
    margin: 0px;
    background-color: white;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

header img{
    width: 50px;
}

section span{
    display: block;
}

header button a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1440px;
    margin: auto;
    padding: 1rem;
}

.bottom-border{
    border-bottom: 1.2px solid black;
}

.flex{
    display: flex;
}

.flex-basis{
    flex-basis: 50%;
}

.justification{
    justify-content: space-between;
}

.gap{
    gap: 1rem;
}

.align-center{
    align-items: center;
}

.tab button {
    background-color: rgb(245, 227, 194);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
}

.tab button.active {
    background-color: orange;
  }

.tabcontent{
	display: none;
}

.block{
	display: block;
}

/* --------------------------------------------- */

.card{
    width: 300px;
    border-radius: 5px 10px;
    z-index: 1;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(229, 238, 247);
}

.card-content{
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-content a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(15, 15, 125);
    cursor: pointer;
}

.card-content a:hover{
    color: rgb(45, 45, 255);
}

.grid{
    display: grid;
}

.column{
    grid-template-columns: repeat(3,1fr);
}